body {
    font-family: 'Roboto', 'Raleway' sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

.main {
    background-color: #2E2F42;
}

a {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.logo {
    font-family: 'Raleway', sans-serif;
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.166;
    text-transform: uppercase;
}
 
span {
    color: #4D5AE5;
}

.link:hover, .link:focus {
    color:#404BBF;
}

h1 {
    color: #FFFFFF;
    font-weight: 700; 
    font-size: 56px;
    line-height: 1.071;
    text-align: center;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}
 .button:hover, .button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
 }
h2 {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    text-align: center;
}

h3 {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
}

.maintext {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.maintext:hover, .maintext:focus {
    color:#404BBF;
}

.team h3 {
    text-align: center;
    }

.team p {
    text-align: center;
}

footer .logo, footer .maintext {
    
    color: #F4F4FD;
}

footer {
    background-color: #2E2F42;
}